<div *ngIf="!wholeState.data">
  <span>There is no videos right here go back to choose your video</span>

  <button [routerLink]="['/']">
    Go Home
  </button>
</div>

<button [routerLink]="['/']" *ngIf="wholeState.data">Go Home</button>

<div *ngIf="wholeState.data">
  <h3>Video Title : {{wholeState.data.snippet.title}}</h3>

  <p>Channel Description : {{wholeState.data.snippet.description}}</p>

  <h4>Channel Title : {{wholeState.data.snippet.channelTitle}}</h4>

  <h5>Video Published At : {{wholeState.data.contentDetails.videoPublishedAt}}</h5>

  <iframe [width]="wholeState.data.snippet.thumbnails.high.width"
    [height]="wholeState.data.snippet.thumbnails.high.height"
    [src]="'https://www.youtube.com/embed/'+wholeState.data.snippet.resourceId.videoId | safe" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
