<div *ngIf="errorMsg">{{errorMsg}}</div>

<div>
  <input type="text" placeholder="enter playlist id" [(ngModel)]="playListId" />

  <button (click)="grapVideos()">Grap Videos</button>
</div>

<div *ngIf="videos.length == 0">
  nothing to show in here :)
</div>

<div class="videos-cont" *ngIf="videos.length > 0">
  <div class="video" (click)="videoDetails(video)" *ngFor="let video of videos">
    <div class="title">Title: {{video.snippet.title| slice:0:40}}</div>
    <div class="img">
      <img [src]="video.snippet.thumbnails.medium.url" [alt]="video.snippet.title">
    </div>
    <div>Date : {{video.contentDetails.videoPublishedAt}}</div>
  </div>
</div>
