.videos-cont {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .video {
    padding: 10px 0;
    flex: 23% 0 0;
    border-bottom: 1px solid gold;
    margin-bottom: 20px;
    .img {
      img {
        width: 100%;
      }
    }
  }
}
